:root {
    --primary: #00685a;
    --secondary: #003d35;
    --text: #e7fffc;
}

*{
    box-sizing: border-box;
}

html, body, main{
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    height: 100vh;
    display: relative;
}

#App{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--primary);
}

#banner{
    margin-top: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary);
}

.banner-icons{
    display: flex;
}

#banner h1{
    margin: 0;
    color: var(--text);
    padding: .5em;
    font-size: 2rem;
}

#banner i {
    display: block;
    font-size: 2rem;
    padding-top: .5em;
    padding-right: 1em;
    color: white;
}

#banner i:hover{
    color: #42b883;
    cursor: pointer;
}

.page-wrapper{
    display: flex;
    padding-left:.5em;
    padding-right:.5em;
    justify-content: space-around;
    
}

.md-viewer{
    height: 90vh;
    width: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0 .1em;
    background-color: #fff;
    flex: 3;
    border: 0px solid transparent;
}

.md-editor{
    height: 90vh;
    resize: none;
    padding: 5px;
    font-size: 1.3em;
    flex: 2;
    margin: 0 .1em;
}

.settings {
    max-width: 180px;
    height: 90vh;
    flex: 1;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    animation: .8s swingleft forwards;
    align-items: center;
    border-left: 2px solid var(--secondary);
}


.settings > * {
    color: var(--text);
    width: 90%;
    margin-top: .5em;
    animation: 1s fadein forwards;
    font-size: 1.2rem;
}



.settings input[type='text']{
    width: 100%;
}

.settings > button {
    color: black;
}

.settings button{
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 0px solid transparent;
    background-color: var(--secondary);
    color: var(--text);
    padding: 10px 0;
}

.settings select{
    width: 100%;
}

.settings a:hover {
    text-decoration: underline;
}



@keyframes swingleft{
    0% {
        width: 0;
    }
    100%{
        width: 12rem;
    }
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#custom-viewer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px solid var(--primary);
    
    border-radius: 5px;
    font-size: 1.5em;
    
}

.custom-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.custom-header{
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: flex-end;
}

.custom-wrapper > *{
    width: 25%;
}

#custom-viewer .exit{
    color: var(--text);
    padding: 0 10px;
    margin: 0;
}

#custom-viewer .exit:hover{
    color: red;
    cursor: pointer;
}
